In [ ]:
<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

In [2]:
# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science

# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. Scala

In [5]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

In [6]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| JupyterLab |
| VS Code |
| Anaconda |

In [7]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [8]:
# Exercise 8 - Create a code cell to multiply and add numbers

_This a simple arithmetic expression to mutiply then add integers_

In [9]:
(3*4)+5

17

In [10]:
# Exercise 9 - Create a code cell to convert minutes to hours

_This will convert 200 minutes to hours by diving by 60_

In [12]:
200/60

3.3333333333333335

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

<h2>Author</h2>
Nam Luong